<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PulldownMenu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>480EDBC11DC2F2E0003B2ACB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>480EDBDA1DC2F2E1003B2ACB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>480EDBE51DC2F2E1003B2ACB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
